* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#corpo_principal {
    height: 100vh;
    background-color: beige;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

#cabecalho {
    background-color: aqua;
    margin: 10px;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo {
    margin: 10px;
    padding: 10px;
    background-color: blue;
    height: 70px;
    width: 70px;
}

/* Menu Desktop */
#menu_desktop ul {
    list-style: none;
    padding: 10px;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

/* Menu Mobile escondido por padrão */
#menu_mobile {
    display: none;
}

#menu_mobile ul {
    list-style: none;
    padding: 10px;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

/* Esconde todos os itens do mobile */
#menu_mobile ul li {
    display: none;
}

/* Mostra só o botão principal */
#menu_mobile ul li#meuBotao {
    display: block;
}

.botoes_menu {
    list-style: none;
    background-color: blue;
    height: 70px;
    width: 70px;
    margin: 10px;
}

/* Seção Desktop */
#secao_principal_desktop {
    margin: 0px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10px;
}

/* Seção Mobile */
#secao_principal_mobile {
    margin: 0px 10px;

    display: none;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 10px;
}

#box_generico {
    background-color: aqua;
    width: 100%;
    height: 100%;
}

/* Responsividade */
@media (max-width: 800px) {
    #secao_principal_desktop {
        display: none;
    }

    #secao_principal_mobile {
        display: grid;
    }

    #menu_desktop {
        display: none;
    }

    #menu_mobile {
        display: block;
    }
}
